server {
    listen ${PORT};
    server_name localhost;
    
    port_in_redirect off;
    absolute_redirect off;

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        
        # SPA routing: redirect 404s to index.html (or app.html)
        try_files $uri /index.html;
    }
}
